
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
a
{
  color: white;
}
body {
  background: #585c68;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.cv {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.cv .cv_left_bar {
  width: 280px;
  background: darkgrey;
}

.cv .cv_left_bar .cv_left_photo {
  width: 100%;
  height: 280px;
}

.cv .cv_left_bar .cv_left_photo img {
  width: 100%;
  height: 100%;
}

.cv .cv_left_bar .cv_main {
  padding: 0 25px;
}

.cv .cv_left_bar .bold {
  color: #fff;
}
b   {

  color: white;
}


.cv .cv_items {
  padding: 25px 0;
  border-bottom: 2px solid #b1eaff;
}



.cv .cv_left_bar ul li:last-child {
  margin-bottom: 0;
}

.cv .cv_left_bar ul li .data {
  color: #b1eaff;
}

.cv .cv_left_bar .cv_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #b1eaff;
  justify-content: space-between;
  align-items: center;
}

.cv .cv_left_bar .cv_skills ul li {
  width: 25%;

}

.cv .cv_left_bar .cv_skills ul li  {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: #009fd9;
  position: relative;
}





.cv .cv_left_bar .semi-bold {
  color: darkblue;
  margin-bottom: 3px;
}

.cv .resume_right {
  width: 520px;
  background: darkblue;
  padding: 25px;
}


